.menu{
    display:flex;
    justify-content: space-between;
}

.grid{
    display: flex;
flex-wrap:  wrap;
justify-content: space-around;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 30px;
    background-color: white;


    width:310px;
    font-family:fantasy;
}
body{
    background-color: rgb(253, 76, 76);
}